<!-- Edit Modal -->
<app-modal modalId="editClip">
  <p class="text-2xl font-bold">Edit Video</p>

  <app-alert *ngIf="showAlert" [color]="alertColor">
    <p>
      {{ alertMessage }}
    </p>
  </app-alert>

  <!-- Form -->
  <form [formGroup]="editForm" (ngSubmit)="submit()">
    <!-- Title -->
    <div class="mt-4">
      <label class="block mb-4 text-xl">Title</label>
      <app-input [control]="title" placeholder="Enter Title"></app-input>
    </div>

    <div class="mt-4 text-right">
      <button
        class="inline-flex justify-center px-4 py-2 text-white bg-indigo-600 border border-transparent rounded-md shadow-sm focus:outline-none"
        type="submit"
        [disabled]="inSubmission"
        [ngClass]="{
          'opacity-50': inSubmission,
          'hover:bg-indigo-700': !inSubmission
        }"
      >
        Publish
      </button>
    </div>
  </form>
</app-modal>
