<!-- Top Bar -->
<section class="container p-6 mx-auto my-8 bg-secondary">
  <div class="relative flex justify-between rounded">
    <a class="px-10 py-4 text-xl text-white bg-indigo-400" routerLink="/upload"
      >Upload Videos</a
    >

    <!-- Sort Videos -->
    <select
      class="w-full max-w-xs text-black select select-bordered"
      (change)="sort($event)"
    >
      <option value="1" [selected]="videoOrder === '1'">Recent Uploads</option>
      <option value="2" [selected]="videoOrder === '2'">Oldest Uploads</option>
    </select>
  </div>
</section>

<!-- User's Video Section -->
<div class="container mx-auto my-8">
  <!-- Video List -->
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
    <div
      class="flex flex-col justify-start mt-6 shadow-xl rounded-tl-2xl rounded-br-2xl bg-secondary"
      *ngFor="let clip of clips"
    >
      <!-- Image -->
      <a href="#">
        <img
          class="w-full card-img-top rounded-tl-2xl"
          src="assets/img/1.jpg"
        />
      </a>

      <!-- Body -->
      <div class="p-6 text-2xl">
        <!-- Link -->
        <a class="mb-2 font-bold" href="#"> {{ clip.title }} </a>
        <a
          class="px-2 py-1 ml-2 text-sm text-white bg-gray-400 rounded"
          href="#"
        >
          Copy Link
        </a>
      </div>

      <!-- Actions -->
      <div class="flex p-2 mt-auto text-2xl text-center bg-gray-800">
        <a
          class="flex-1 p-2 transition border-r-2 border-gray-700 border-right hover:text-indigo-400"
          href="#"
          (click)="openModal($event, clip)"
        >
          <span class="text-base material-icons">build</span>
        </a>
        <a
          class="flex-1 p-2 transition rounded-br-2xl hover:text-indigo-400"
          href="#"
        >
          <span class="text-base material-icons">delete</span>
        </a>
      </div>
    </div>
  </div>
</div>

<app-edit></app-edit>
